body {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 110, 253);
    background-image: url("./assets/rays.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Galindo", serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* gap: 5rem */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.backArrow {
    width: 3rem;
    height: 3rem;
    padding: 1rem 2rem;
    margin-top: .7rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}



.content h1 {
    font-size: 3rem;
    color: white;
    padding: 0 .7rem;
    margin: 0;
    text-transform: uppercase;
}

.chart-container {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
}

.details {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.details-table {
    width: 80%;
    margin: 1rem auto;
    border-collapse: collapse;
    color: white;
    font-size: 1rem;
}

.details-table th,
.details-table td {
    border: 1px solid white;
    padding: 0.5rem;
    text-align: center;
}

.chart-legend {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-top: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2rem;
    height: 10vh;
}

.leftLinks {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.links img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

@media(max-width: 900px) {

    .backArrow {
        width: 3rem;
        height: 3rem;
        padding: .5rem 1rem;
    }

    .content {
        margin-bottom: 15px;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .chart-container {
        width: 150px;
        height: 150px;
    }

    .details {
        font-size: .8em;
    }
}

@media(max-width: 600px) {


    .backArrow {
        width: 1.5rem;
        height: 1.5rem;
        padding: .5rem 1rem;
    }

    .content {
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 15px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .chart-container {
        width: 120px;
        height: 120px;
    }

    .details {
        font-size: .5em;
    }
}
